*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0 auto;
    padding: 0;
    text-transform: capitalize;
    background-image: linear-gradient(30deg, red, green, blue);
    background-clip: text;
    color: transparent;
    width: fit-content;
}

table,td,th{
    margin: 0 auto;
    border: 1px solid green;
    border-collapse: collapse;
    text-transform: capitalize;
    background-color: teal;
    color: transparent;
    background-clip: text;
}
td{
    width: 30vw;
    height: fit-content;
}

a{
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 100%;
    background-image: linear-gradient(90deg, teal, green, blue, gold);
    background-clip: text;
    color: transparent;
    font-size: 20px;
    text-align: center;
}
a:hover{
    background-image: linear-gradient(90deg, red, lime, blue, gold,purple,green);
    background-clip: text;
    color: transparent;
}

form{
    margin: 20px auto;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
}
#content{
    display: block;
    width: 50%;
    border: none;
    outline: none; 
    background-color: lime;
    padding: 20px;
    font-size: 20px;
}

#content:focus{
    background-color: lime;
    padding: 20px;
    font-size: 20px;
}

#content::placeholder{
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#submit{
    display: block;
    width: 20%;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-size: 20px;
}