{% extends "base.html" %}

{% block head %}
<title>learning flask</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>task master</h1>
    <table>
        <thead>
            <th>task</th>
            <th>added</th>
            <th>actions</th>
        </thead>
        {% for task in tasks %}
        <tbody>
            <tr>
                <td>{{ task.content}} </td>
                <td>{{ task.date_created.date() }} </td>
                <td>
                    <a href="">Update</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}

    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Task you task here...">
        <input type="submit" id="submit" value="Add Task">
    </form>
</div>
{% endblock %}